<div class="row">
  <div class="col">
    <h1>Turbo: <%= @game %></h1>
    <audio autoplay>
        <source src="<%= static_path(@conn, "/../images/cartheme.mp3") %>" type="audio/mpeg">
    </audio>
    <script>
      window.gameName = "<%= @game %>";
    </script>
    <div id="root">
      <p>React app not loaded...</p>
    </div>
  </div>
</div>
