/* This file is for your main application css. */
@import "bootstrap";

body { font-size: 20pt; }


.container{
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  color: #ddd;
  font-family: 'Roboto', sans-serif;
}

.main-page {
  padding: 50px;
  font-weight: 300;
  h2 {
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 300;
  }
  h5{
    margin-bottom: 15px;
  }
  #game-button {
    background: none;
    padding: 10px 20px;
    font-size: 18px;
    border-color: #ddd;
    border-radius: 25px;
    font-weight:  300;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    &:hover {
      background: #8B0000;
      color: #efefef;

    }
  }
  input{
      background-color: rgba(239, 239, 239,1);
  }
  h4{
    font-weight: 300;
    text-align: left;
    margin-top: 30px;
  }
 div{
    text-align: left;
  }
}
.rule-book {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  padding: 30px ;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.firstpage-bg{
    text-align: center;
    padding: 80px ;
    background-image: url('/images/carbg.png');
    /* Full height */
    height: 100vh;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
  }

}

.waiting-msg {
  position: absolute;
  top: 50px;
  color: black;

}

.ReactModalPortal{
    transition: all 0.3s ease;

    > div{
      background-color: rgba(255, 255, 255, 0) !important;
    }
    h1 {
      font-size: 45px;
      font-weight: bold;
    }

    .ReactModal__Overlay{
      background-color: none !important;
    }
    .ReactModal__Content {
      border-radius: 25px !important;
      box-shadow: 1px 1px 5px #ccc8c8;
      background-image: url('/images/giphy.gif') !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      bottom: 200px !important;
      left: 200px !important;
      right: 200px !important;
      top: 0px !important;
    }

}

.startModal {
  width: 100%;
  height: 100%;
  background-image: url('/images/start.gif') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}


.game-page {
  color: black;
  h1{
    margin: 20px auto;
    text-align: center;
    font-size: 45px;
  }
  h2{
      text-align: center;
    font-weight: 300;
  }
  .waiting-msg {
    text-align: center;
    width: 50%;
    left: 25%;
    top: 15%;
  }
}

//
// References
// http://sass-lang.com/documentation/file.SASS_REFERENCE.html
// Images and gif : https://giphy.com/gifs/turntables-139kYC03RSL8k
// https://motions.work/motion/911
// Images and gif : https://giphy.com/gifs/turntables-139kYC03RSL8k
// https://www.google.com/search?rlz=1C5CHFA_enUS763US763&biw=1680&bih=976&tbm=isch&sa=1&ei=FIC6WsWbDtLYsQXGgL3ACQ&q=finish+line+png&oq=finish+line+png&gs_l=psy-ab.3..0j0i7i30k1l6j0i5i30k1.2974.2974.0.3198.1.1.0.0.0.0.117.117.0j1.1.0....0...1c.1.64.psy-ab..0.1.117....0.Ng4qUmlfN50#imgdii=y2gxOXWr5xZp7M:&imgrc=-A9AcNQgGEN1HM:
// https://www.google.com/search?biw=1641&bih=829&tbm=isch&sa=1&ei=ktOyWpDMC4n-sAXgk4bIDA&q=+png+empty+image&oq=+png+empty+image&gs_l=psy-ab.3..0i8i30k1.282487.284013.0.284268.5.5.0.0.0.0.237.515.2j1j1.4.0....0...1c.1.64.psy-ab..1.4.513...0j0i67k1j0i13k1j0i8i7i30k1.0.SSDYayKwAv8#imgrc=xl8oGWrBnX4Y-M:
// https://www.houzz.com/product/8710226-san-francisco-skyline-silhouette-wall-decal-modern-wall-decals
// https://www.iconfinder.com/icons/2451222/blast_bomb_boom_burst_effect_explode_terrible_explosion_icon
// https://www.google.com/search?tbm=isch&q=road+blocker+png&chips=q:road+blocker+png,g_1:road+block&sa=X&ved=0ahUKEwj8tP7hwfbZAhVl9IMKHVi6ABYQ4lYIKCgA&biw=1642&bih=829&dpr=2#imgrc=UXerQm9c5RNxeM:
// http://wallpaper-gallery.net/single/red-car-wallpapers/red-car-wallpapers-9.htm
